<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testlogin">
    <classes>
      <class name="ScaucedemoProjectTestCase.LoginTest1"/>
      <class name="ScaucedemoProjectTestCase.LoginTest2"/>
      <class name="ScaucedemoProjectTestCase.LoginTest3"/>
      <class name="ScaucedemoProjectTestCase.LoginTest4"/>
      
      <class name="ScaucedemoProjectTestCase.ProductTest1"/>
      <class name="ScaucedemoProjectTestCase.ProductTest2"/>
      <class name="ScaucedemoProjectTestCase.ProductTest3"/>
      <class name="ScaucedemoProjectTestCase.ProductTest4"/>
     
      <class name="ScaucedemoProjectTestCase.RemoveTest"/>
      
      <class name="ScaucedemoProjectTestCase.CustomerTest"/>
      <class name="ScaucedemoProjectTestCase.CustomerTest2"/>
      <class name="ScaucedemoProjectTestCase.CustomerTest3"/>
      <class name="ScaucedemoProjectTestCase.CustomerTest4"/>
      <class name="ScaucedemoProjectTestCase.CustomerTest5"/>
      
      <class name="ScaucedemoProjectTestCase.ScauceThankYouTest"/>

     
    </classes>
  </test> <!-- Testlogin -->
</suite> <!-- Suite -->
